<!DOCTYPE HTML>
<html>

<head>
  <title>Aki</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/static/assets/css/main.css" />
</head>

<body>
  <!-- Header -->
  <header id="header" class="alt">
    <div class="logo"><a href="/">Aki <span>by Team Aki</span></a></div>
    <a href="#menu" class="toggle"><span>Menu</span></a>
  </header>

  <nav id="menu">
    <ul class="links">
      <li><a href="/">Home</a></li>
      <li><a href="{{ url_for('attendence.record') }}">Record Event</a></li>
      <li><a href="{{ url_for('attendence.view') }}">View Events</a></li>
      <li><a href="{{ url_for('user_features.view') }}">View Features</a></li>
    </ul>
  </nav>

  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %} {% block content %}{% endblock %}

  <!-- Scripts -->
  <script src="/static/assets/js/jquery.min.js"></script>
  <script src="/static/assets/js/jquery.scrolly.min.js"></script>
  <script src="/static/assets/js/jquery.scrollex.min.js"></script>
  <script src="/static/assets/js/skel.min.js"></script>
  <script src="/static/assets/js/util.js"></script>
  <script src="/static/assets/js/main.js"></script>

</body>

</html>