{% extends 'base.html' %} {% block content %}
<!-- Banner -->
<section id="banner" data-video="/static/images/banner">
  <div class="inner">
    <h1>Aki</h1>
    <p>A site to collect event attendence data and generate AI-driven analytics<br /> built by <a href="/">Team Aki</a></p>
    <ul class="actions">
      <li><a href="{{ url_for('attendence.record') }}" class="button special scrolly">Record Event</a></li>
      <li><a href="{{ url_for('attendence.view') }}" class="button special scrolly">View Events</a></li>
      <li><a href="{{ url_for('user_features.view') }}" class="button special scrolly">View Features</a></li>
    </ul>
  </div>
</section>
{% endblock %}