{% extends 'base.html' %} {% block content %}
<section id="four" class="wrapper style3"></section>

<section>
  <div class="box">
    <!--do we need this? -->
    <div class="content">
      <!--do we need this? -->
      <h2 class="align-center">User and Face Recognition Features</h2>
      <div class="table-wrapper">
        <table class="alt">
          <thead>
            <tr>
              <th>User Name</th>
              <!-- This is cosemetic / for your information-->
              <th>User Features</th>
              <th>Attendence Time</th>
            </tr>
          </thead>
          <tbody>
            {% for ea in userfeatures %}
            <tr>
              <td>{{ ea.user_name }}</td>
              <td>{{ ea.features }}</td>
              <td>{{ ea.time_stamp }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <button type="button" class="expand">How Can I Add My Attendence?</button>
      <div id="collapseable">
        <p>Please use the json API, by inserting with <br> curl -X POST http://127.0.0.1:5000/user_features/record -H 'Content-Type: application/json' -d '{"user_name":"[ATTENDENT]", "features": [0, 0, 0]}'</p>
        <p>You can also import an attendence csv (format: name,time) by doing <br> flask import-user-features [CSV PATH]</p>

        <p>You can view individual attendence by using <br> http://127.0.0.1:5000/user_features/view?user_name=[ATTENDENT]</p>

        <p>Finally, you can view total attendence by going to <br> http://127.0.0.1:5000/user_features/view </p>
      </div>
    </div>
  </div>
</section>

<script>
  var coll = document.getElementsByClassName("expand");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
</script>
{% endblock %}